<% if controller_name == 'homepage' %>
  <div class="about-section extended-section-background">
    <% if (display_content_block? @homepage_about_section_heading).present? %>
      <%= displayable_content_block @homepage_about_section_heading, class: "h2 text-center" %>
    <% end %>
    <div class="row pb-5">
      <div class="about-col col-xs-12 py-5 text-center">
        <% if (display_content_block? @homepage_about_section_content).present? %>
          <%= displayable_content_block @homepage_about_section_content, class: '' %>
        <% end %>
        <%= link_to hyrax.about_path, class: 'btn btn-default mt-4' do %>
          <%= t('hyrax.homepage.about_section.link') %>
          <span class="fa fa-caret-right"></span> 
        <% end %>
      </div>
    </div>
  </div>
<% end %>